CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
__pycache__/
*.pyc
.tags*
.ipynb_checkpoints
output/*
eval/*
log/*
*.log
*.aux
*.synctex.gz
*.bak
todo.md
rsync-proj.sh
