numpy
pandas
scipy
scikit-learn
scikit-image
scikit-fmm
pillow
matplotlib
seaborn
jupyter
notebook
imageio
opencv-python
progressbar2
traits
configobj
envisage
h5py
colour
#mayavi
PyQt5
git+https://github.com/wookayin/tensorflow-plot.git@master
