Cython
psutil
numpy
pandas
scipy
scikit-learn
scikit-image
scikit-fmm
pillow
matplotlib
seaborn
jupyterlab
#jupyter
imageio
opencv-python
progressbar2
traits
configobj
envisage
h5py
colour
#mayavi
PyQt5
git+https://github.com/wookayin/tensorflow-plot.git@master
#tensorflow-gpu
pyrealsense2
