matplotlib
cite2c
ipympl
pyrealsense2
tensorflow-gpu
git+https://github.com/wookayin/tensorflow-plot.git@master
colour
opencv-python
progressbar2
psutil
scipy
scikit-fmm
scikit-learn
scikit-image
imageio

Cython
pandas
prettytable
pillow
seaborn
imageio
traits
configobj
envisage
h5py
#vispy
#vtk
#mayavi
#PyQt5
git+https://github.com/wookayin/tensorflow-plot.git@master
